<header class="bg-indigo-600 shadow-sm">
   <nav class="mx-auto flex  items-center justify-between px-6 py-4 lg:px-8" aria-label="Global">
      <div class="flex lg:flex-1">
         <a href="#" class="-m-1.5 p-1.5">
            <span class="sr-only">Your Company</span>
            <span class="text-white">Dev Skill</span>
         </a>
      </div>
      <div class="hidden lg:flex lg:gap-x-12">
         <a href="#" class="text-sm font-semibold leading-6 text-white">Features</a>
         <a href="#" class="text-sm font-semibold leading-6 text-white">Marketplace</a>
         <a href="#" class="text-sm font-semibold leading-6 text-white">Company</a>
      </div>
   </nav>
</header>

